venv/
__pycache__/
.ipynb_checkpoints/

# Datasets
data/
*.csv

# Environment variables
.env

# Generated outputs
outputs/*.png
outputs/*.csv
outputs/*.json

# Python cache
*.py[cod]

# Jupyter
*.ipynb_checkpoints/

# VS Code
.vscode/